
<nav class="navbar  fixed-top ">
<!--  <a class="navbar-brand nava">DOCKERIZE</a>-->
  <img src="{{ logoUrl }}" alt="Logo de l'application"  [routerLink]="['']"  class="img">
  <a  class=" nava"[routerLink]="['']" >Home</a>
  <a class=" nava" *ngIf="isConnected" [routerLink]="['/MesPreferences']" >Mes Préférences</a>
<!--  <form class="form-inline" >-->
<!--    <div class=" d-flex  mx-4">-->
<!--      <input class="form-control mx-4 mr-sm-2 mr-3" type="search" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="search">-->
<!--      <button type="submit" class="btn btn-primary   " (click)="onClickSearch()" >valider</button>-->

<!--    </div>-->
<!--  </form>-->
  <button *ngIf="isConnected" type="button" class="btn  btn-primary"  [routerLink]="['/AjouterUnLivre']" (click)="toogleAAddBokPage() "> Ajouter un Livre</button>
  <button *ngIf="isConnected" type="button" class="btn  btn-danger" [routerLink]="['/Home']" (click)="onClickToDeconnecte()"> Deconnexion</button>
  <button *ngIf="!isConnected" type="button" class="btn  btn-success" [routerLink]="['/Login']" (click)="onClickToConnect()"> Se connecter</button>
</nav>


<div><router-outlet></router-outlet></div>s

