<br><br><br>
<div class="container">
  <form action="#" [formGroup]="createAcountUser" >
    <div class="row justify-content-md-center">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="login-screen">
          <div class="login-box">
            <a href="#" class="login-logo">
              <img src="//ssl.gstatic.com/accounts/ui/logo_2x.png" alt="google">
            </a>
            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <label class="mb-2">Prenoms</label>
                <div class="form-group mb-3">
                  <input type="text" class="form-control" placeholder="Prenoms" formControlName="Prenoms"
                  [ngClass]="{'is-invalid':createAcountUser.get('Prenoms').pristine && createAcountUser.get('Prenoms').touched}">
                  <div class="invalid-feedback"><span *ngIf="createAcountUser.get('Prenoms').pristine && createAcountUser.get('Prenoms').touched ">Entrez un prénom vaide</span></div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <label class="mb-2">Nom</label>
                <div class="form-group mb-3">
                  <input type="text" class="form-control" placeholder="Nom" formControlName="nom"
                         [ngClass]="{'is-invalid':createAcountUser.get('nom').pristine && createAcountUser.get('nom').touched}">
                  <div class="invalid-feedback"><span *ngIf="createAcountUser.get('nom').pristine && createAcountUser.get('nom').touched">Entrez un nom vaide</span></div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <label class="mb-2">Email</label>
                <div class="form-group mb-3 ">
                  <input type="email" class="form-control" placeholder="email" formControlName="email"
                         [ngClass]="{'is-invalid': createAcountUser.get('email').errors && createAcountUser.get('email').touched }">
                  <div class="invalid-feedback"><span  *ngIf="createAcountUser.get('email').errors && createAcountUser.get('email').touched">Entrez un email vaide</span></div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <label class="mb-2">Mot de passe</label>
                <div class="form-group mb-3 ">
                  <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password"
                         [ngClass]="{'is-invalid':createAcountUser.get('password').pristine && createAcountUser.get('password').touched}">
                  <div class="invalid-feedback"><span  *ngIf="createAcountUser.get('password').pristine && createAcountUser.get('password').touched">Entrez un Mot de passe  valide</span></div>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12  mt-3 mb-3" >

                <div class="form-group mb-3 ">
                  <button type="submit" class="btn btn-primary btn-block col-12 mt-2" [disabled]="!createAcountUser.valid" (click)="onCreateAccount() " >Creer un compte</button>

                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3 mb-3">

                <div class="form-group mb-3 ">
                  <button type="submit" class="btn btn-light btn-block   col-12 mt-2" (click)="onRefuseCreateAccount()" >Annuler</button>

                </div>
              </div>
            </div>

            <div class="or">
              <span>Connectez-vous</span>
            </div>
            <div class="row gutters">
              <div class="col-12 text-center d-flex justify-content-center justify-content-between ">
              </div>
            </div>
           <a   class="additional-link" (click)="onLogin()" [routerLink]="['/Login']">  Vous avez déja un compte ?   Connetez-vous  </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
